<ul class="org-list">
  {% for entry in site.data.employment %}
    <li class="org-item">
      {% if entry.logo %}
        <img class="org-logo" src="{{ '/assets/img/logos/' | append: entry.logo | relative_url }}" alt="{{ entry.company }}">
      {% endif %}
      <div class="org-details">
        <div class="org-name">{{ entry.company }}</div>
        {% for line in entry.entries %}
          <div class="org-info">{{ line }}</div>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
